Collector.exe

/build
/dist
/_pycache_
/Installer/build
/Installer/dist
/Installer/installer.spec
/web/temp
/Updater/__pychache__
/Updater/build
/Updater/dist
/Updater/UpdateCollector.spec
/web/dist
/web/repositories
/web/User/Data
/web/User/Private
/venv
